<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notas Desktop v.Alpha</title>
  <link rel="stylesheet" href="../css/estilos.css">
  <link rel="stylesheet" href="../fontawesome/css/all.css">
</head>
<body class="cuerpo">
<div class="container">
  <div class="nav-izq">navegacion</div>
  <div class="nav-action">
    <div class="nav-sup">menu</div>
    <div class="action">
      <form action="" class="logop">
        <div class="login">
        <center><img src="../img/logosystem.png" alt="" class="logosys"></center>
        <h1 class="tlog">Sincronizar Base De Datos Externa</h1>
        <div class="relleno">
          <input type="email" name="" id="" placeholder="Correo o Usuario">
          <input type="password" name="" id="pass" placeholder="Ingrese Su Contraseña">
        </div>
        <div class="viewresc">
          <div class="logpass">
            <label for="checkbox">
              <input type="checkbox" name="" id="checkbox">
                    Mostrar Contraseña
            </label>
          </div>
        </div>
        <div class="signsigentr">
          <div class="oplog">
            <button type="submit" id="submit">Siguiente<i class="fa-solid fa-arrow-right"></i></button>
          </div>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>

<footer class="foot">
  <span>Creado y desarrollado por: Gregorio Rondón, Carlos Ramos y Yenitza Barriga</span>
</footer>
</body>
</html>
